@{
    ViewData["Title"] = "Reports";
}
@{
    Layout = "_Layout";
}
<div class="d-flex justify-content-center">
    <div class="form-group">
        <label for="weekPicker">Reports:</label>
        <input type="week" id="weekPicker" class="form-control">
    </div>
</div>
<div class="d-flex justify-content-center">
    <div style="max-width: 600px; width: 100%;">
        <visitor-chart v-if="visitorData" id="visitor-chart" :visitor-data-prop="visitorData"></visitor-chart>
    </div>
</div>


@section Scripts {

    
    <script src="https://unpkg.com/vue@2.7.15"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.5.1/dist/vue-chartjs.min.js"></script>
    <script src="~/js/reports.js" type="module" defer></script>

}