.gcorp-suites-logo {
    max-width: 33%; /* Limita la larghezza del logo al 33% della larghezza del suo contenitore */
}

.nav-bar {
    display: flex;
    align-items: center;
    padding-inline: 12px;
    justify-content: space-between;
    background: #f8f9fa;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .logo {
        img {
            width: 33vw;
        }
    }

    .nav-links {
        display: flex;
        gap: 3vw;

        a {
            font-size: x-large;
            color: blue;
            font-weight: 400;
        }
    }

    .user {
        width: 33vw;
        display: flex;
        justify-content: flex-end;
    }
}
