.main {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  & > div {
    display: flex;
    flex-direction: column;
    .title {
      text-align: center;
      font-weight: bold;
      font-size: large;
    }
  }
}

.login-button {
  color: #333; /* Dark gray text */
  background-color: #fff; /* White background */
}
